@import url('reset.css');
body{
    background-color: #FFFFFB;
    width: 1440px;
    height: 1024px;
    margin: 0 auto;
}

.back{
    background-image: url(../images/AU_back.png);
    width: 1440px;
    height: 1000px;
}

.navi{
    width: 1255px;
    height: 155px;
    margin: 0 auto;
    padding-top: 33px;
}

.logo{
    width: 310px;
    height: 100px;
    margin-left: 25px;
    margin-right: 65px;
    padding-top: 25px;
    float: left;
}

.text{
    width: 850px;
    height: 55px;
    padding-top: 75px;
    float: left;
}

.text ol{
    height: 55px;
    font-family: Aclonica;
    font-size: 36px;
    line-height: 50px;
    margin-right: 20px;
    float: left;
}

/* About US */

.video{
    display: inline-block;
    width: 540px;
    height: 960px;
    margin: 0 10%;
    float: left;
}

.content{
    width: 505px;
    height: 230px;
    margin-right: 100px;
    float: right;
    padding-top: 25px;
}

.content h1{
    font-family: Aclonica;
    font-size: 36px;
    line-height: 50px;
}

/* Booking */

.book{
    width: 1240px;
    height: 335px;
    margin: 0 auto;
    margin-top: 50px;
}

.book input{
    width: 400px;
    height: 75px;
    border-radius: 5px;
    float: left;
}

.book_btn{
    width: 235px;
    height: 335px;
    margin-left: 50px;
    float: left;
}

.book_btn button{
    width: 235px;
    height: 70px;
    margin-top: 5px;
}

.book_btn p{
    width: 235px;
    height: 235px;
    margin-top: 50px;
}

.intro{
    width: 1440px;
    height: 650px;
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 363px;
}

.room{
    width: 820px;
    height: 300px;
    padding-left: 100px;
    position: absolute;
    z-index: 3
}

.room_intro{
    width: 295px;
    height: 250px;
    float: right;
}

.message{
    background-color: #E7F3E0;
    border: 20px solid #FCFAF2;
    width: 1400px;
    height: 425px;
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 225px;
}

.message p{
    width: 820px;
    height: 300px;
    margin-left: 100px;
    margin-top: 105px;
}

/* Location */

.traffic{
    width: 1200px;
    height: 235px;
    border: 5px solid #DCEFCD;
    margin: 0 auto;
    margin-top: 35px;
}

.tra_text{
    width: 1120px;
    height: 150px;
    font-family: Noto Sans TC;
    font-size: 18px;
    line-height: 20px;
    margin: 0 auto;
    padding-top: 45px;
}

.map{
    width: 1240px;
    height: 500px;
    margin: 0 auto;
    padding-top: 50px;
}

.footer{
    background-image: url(../images/back_pic.png);
    width: 1440px;
    height: 365px;
    margin: 0 auto;
    margin-top: 65px;
}

.fo_text{
    width: 1240px;
    height: 175px;
    margin: 0 auto;
    padding-top: 105px;
}

.fo_text h1{
    font-family: Aclonica;
    font-size: 36px;
    line-height: 50px;
}

.fo_text h2{
    font-family: Aclonica;
    font-size: 24px;
    line-height: 30px;
}

.fo_text p{
    font-family: Noto Sans TC;
    font-size: 18px;
    line-height: 20px;
    padding-top: 35px;
}