main{
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

main input{
    font-size: 18px;
    width: 400px;
    height: 65px;
    border-radius: 5px;
    float: left;
}

.check_in{
    margin-left: 30px;
}

.check_out{
    margin-left: 30px;
}

main button{
    background-color: #FDD371;
    font-weight: bold;
    color: #804F22;
    border: none;
    border-radius: 15px;
    width: 235px;
    height: 70px;
    margin-top: 5px;
}

article{
    width: 1440px;
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    top: 363px;
}

figure{
    width: 825px;
    padding-left: 50px;
    position: absolute;
    z-index: 3;
}

figcaption{
    width: 275px;
    float: right;
}

figcaption h2{
    text-align: right;
}

figcaption p{
    margin-top: 20px;
}

article section p{
    width: 235px;
    position: absolute;
    z-index: 4;
    margin-top: 85px;
}

main section{
    background-color: #E7F3E0;
    border: 20px solid #FCFAF2;
    width: 1150px;
    height: 425px;
    position: absolute;
    z-index: 2;
    top: 225px;
}

main section p{
    width: 820px;
    margin: 75px 0 0 50px;
}