main{
    max-width: 1140px; 
    margin: 0 auto;
}

.check p{
    padding-bottom: 10px;
}

.check input{
    width: 390px; 
    height: 35px; 
    padding: 10px;
}

.check button{
    width: 220px; 
    height: 55px; 
    border: none; 
    border-radius: 5px; 
    margin-left: 45px;
}

.check_in{
    display: inline-block;
}

.check_out{
    display: inline-block; 
    margin-left: 30px;
}

.room{
    padding-top: 50px;
}

figure{
    display: inline-block; 
    width: 857px;
}

figure img{
    height: 300px;
}

figcaption{
    width: 360px; 
    height: 300px; 
    float: right;
}

figcaption h2{
    padding-top: 10px; 
    margin-bottom: 10px;
}

.room article{
    padding-top: 5px; 
    width: 220px; 
    max-height: 300px; 
    float: right;
}

main>article{
    background-image: url(../images/pattern_green.png); 
    background-size: cover; 
    background-position: left 0% top 7%;
}

main>article p{
    padding: 150px; 
    padding-bottom: 35px;
}


@media (min-width: 768px) and (max-width: 1199.98px) {
    main {
        width: 80%;
        padding-top: 20px;
        margin: 0 auto;
    }

    .check input {
        width: 250px;
    }

    .check button {
        display: block;
        margin: 0 auto;
        margin-top: 30px;
    }

    figure {
        display: block;
        width: 550px;
        margin: 0 auto;
        clear: both;
    }

    figure img {
        width: 550px;
    }

    figcaption {
        width: 550px;
        height: 150px;
    }

    .room article {
        border-top: 1px solid #0c0c0c;
        border-bottom: 1px solid #0c0c0c;
        margin-top: 70px;
        width: 100%;
    }

    .room article p{
        padding: 20px;
    }

    main>article {
        margin-top: 450px;
        background-position: left 25% bottom 7%;
    }

    main>article p{
        padding: 95px;
    }
}

@media screen and (max-width: 767.98px) {
    main {
        width: 100%;
        margin: 0 auto;
    }

    .check input{
        width: 100%;
        margin: 0 auto;
    }

    .check_in {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    .check_out {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    main button {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }

    .room {
        padding-top: 30px;
        clear: both;
    }

    .room article {
        border-top: 1px solid #0c0c0c;
        border-bottom: 1px solid #0c0c0c;
        margin-top: 100px;
        width: 100%;
    }

    .room article p{
        padding: 15px;
    }

    figure {
        display: block;
        width: 90%;
        margin: 0 auto;
        clear: both;
    }

    figure img {
        width: 100%;
    }

    figcaption {
        width: 100%;
        height: 150px;
    }

    main>article {
        margin-top: 500px;
        padding: 10px;
    }

    main>article p{
        padding: 30px;
    }
}