main{
    width: 90%;
    margin: 0 auto;
    border: 1px solid red;
}

main input{
    width: 420px;
    height: 60px;
    margin-left: 30px;
}


main button{
    width: 170px;
    height: 60px;
    border: none;
    border-radius: 5px;
    margin-left: 4%;
}

article{
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    border: 1px solid red;
}

figure{
    display: inline-block;
    width: 75%;
    border: 1px solid red;
}

figure img{
    height: 300px;
}

figcaption{
    display: inline-block;
    width: 25%;
    margin-left: 9%;
    border: 1px solid red;
}

figcaption h2{
    text-align: right;
    margin-bottom: 20px;
}

figcaption p{
    border: 1px solid red;
}

article > section{
    display: inline-block;
    width: 20%;
    margin-left: 4%;
    border: 1px solid red;
}

main > section{
    background-color: #E7F3E0;
    border: 15px double #FCFAF2;
}

main section p{
    padding: 30px;
    border: 1px solid red;
}