main{
    width: 75%;
    margin: 0 auto;
    position: relative;
}

main a{
    color: #0C0C0C;
}

main a:hover{
    color: white;
}

ul{
    width: 100%;
    position: absolute;
    z-index: 1;
}

li{
    width: 100%;
    height: 325px;
    margin: 0 auto;
    padding-top: 50px;
}

li img{
    width: 60%;
    height: 100%;
    border: 1px solid gray;
}

li:nth-child(odd){

}

li:nth-child(odd) img{
    float: left;
}

li:nth-child(odd) p{
    float: left;
}

li:nth-child(even){

}

li:nth-child(even) img{
    float: right;
}

li:nth-child(even) p{
    float: left;
}

.back{
    padding-top: 210px;
    width: 80%;
    margin: 0 auto;
}

.dash{
    height: 380px;
    border: 5px dashed #DCEFCD;
    box-sizing: border-box;
}

.solid{
    height: 380px;
    border: 5px solid #DCEFCD;
    box-sizing: border-box;
    margin-top: 380px;
}