main{
    position: absolute;
    z-index: 3;
}

figure{
    width: 700px;
    height: 500px;
    position: absolute;
    left: 440px;
    top: 35px;
}

figure img{
    width: 700px;
}

figcaption{
    width: 300px;
    height: 455px;
    position: absolute;
    left: 100px;
    top: 10px;
}

figcaption h2{
    padding-top: 35px;
}

figcaption p{
    padding-top: 20px;
}

aside{
    width: 1100px;
    height: 200px;
    position: absolute;
    left: 55px;
    top: 550px;
}

aside img{
    width: 250px;
}

aside{
    width: 250px;
    height: 200px;
    float: left;
}

.back_deco{
    background-color: #E7F3E0;
    width: 1200px;
    height: 350px;
    position: absolute;
    left: 0px;
    top: 500px;
    z-index: 1;
}