.detail{
    position: absolute;
    z-index: 3;
}

.cabin_detail{
    width: 300px;
    height: 455px;
    position: absolute;
    left: 100px;
    top: 10px;
}

.cabin_detail h2{
    padding-top: 35px;
}

.cabin_detail p{
    padding-top: 20px;
}

.detail_pic{
    width: 700px;
    height: 500px;
    position: absolute;
    left: 440px;
    top: 35px;
}

.detail_pic img{
    width: 700px;
}

.preview{
    width: 1100px;
    height: 200px;
    position: absolute;
    left: 55px;
    top: 550px;
}

.preview img{
    width: 250px;
}

.preview1{
    width: 250px;
    height: 200px;
    float: left;
}

.preview2{
    width: 250px;
    height: 200px;
    float: left;
    margin-left: 25px;
}

.preview3{
    width: 250px;
    height: 200px;
    float: left;
    margin-left: 25px;
}

.preview4{
    width: 250px;
    height: 200px;
    float: left;
    margin-left: 25px;
}

.change{
    width: 1200px;
    height: 750px;
    margin: 0 auto;
}

.front{
    width: 40px;
    height: 100px;
    position: absolute;
    z-index: 2;
    left: 5px;
    top: 473px;
}

.last{
    width: 40px;
    height: 100px;
    position: absolute;
    z-index: 2;
    left: 1170px;
    top: 473px;
}

.cabin_back{
    background-color: #E7F3E0;
    width: 1200px;
    height: 350px;
    position: absolute;
    left: 0px;
    top: 500px;
    z-index: 1;
}

.fo_solo{
    margin-top: 50px;
}