main{
    width: 85%;
    position: absolute;
    z-index: 2;
    top: 220px;
    left: 50px;
    border: 1px solid red;
}

main a{
    color: #0C0C0C;
}

main a:hover{
    color: white;
}

figure:nth-child(odd){
    width: 85%;
    height: 500px;
    margin: 0 auto;
    padding-top: 75px;
    border: 1px solid blue;
}

figure:nth-child(odd) img{
    float: left;
}

figure:nth-child(odd) p{
    width: 265px;
    margin: 100px 0 0 50px;
    float: left;
}

figure:nth-child(even){
    width: 85%;
    height: 500px;
    margin: 0 auto;
    padding-top: 75px;
    border: 1px solid green;
}

figure:nth-child(even) img{
    float: right;
}

figure:nth-child(even) p{
    width: 265px;
    margin: 100px 50px 0 0;
    float: right;
}

.dash{
    width: 85%;
    height: 555px;
    border: 10px dashed #DCEFCD;
    margin-top: 575px;
    margin: 575px auto 0 auto;
}

.solid{
    width: 85%;
    height: 555px;
    border: 10px solid #DCEFCD;
    margin: 575px auto 0 auto;
}