main{
    margin: 0 auto;
    padding-top: 180px;
    display: flex;
    flex-flow: wrap;
}

main h2{
    font-size: 20px;
    text-align: center;
    margin-top: 45px;
}

main p{
    font-size: 12px;
    margin: 10px 15px 0 15px;
}

main img{
    height: 300px;
}

figure{
    max-width: 300px;
    height: 200px;
    overflow: hidden;
    position: relative;
}

figcaption{
    background-image: url('../images/text_back5.png');
    width: 300px;
    height: 200px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    display: none;
}

figure:hover figcaption{
    display: block;
}

@media (min-width:576px) and (max-width:767.98px){
    main{
        max-width: 600px;
        min-height: 600px;
        margin: 0 auto;
        padding-top: 180px;
        display: flex;
        flex-flow: row wrap;
    }
}

@media screen and (max-width:575.98px){
    
}