main h2{
    font-size: 20px;
    text-align: center;
    margin-top: 45px;
}

main img{
    width: 300px;
    height: 200px;
}

main p{
    font-size: 12px;
    margin: 10px 15px 0 15px;
}

figure{
    width: 300px;
    height: 200px;
    margin-left: 30px;
    position: relative;
}

figure:nth-child(3n+1){
    margin-left: 0;
}

figcaption{
    background-image: url('../images/text_back5.png');
    width: 300px;
    height: 200px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    display: none;
}

figure:hover figcaption{
    display: block;
}

@media (min-width: 768px) and (max-width: 1199.98px){
    main{
        width: 630px;
        height: 690px;
        padding-top: 140px;
    }

    figure:nth-child(4){
        margin-left: 30px;
    }

    figure:nth-child(odd){
        margin-left: 0;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){}

@media screen and (max-width: 767.98px){
    main{
        width: 80%;
        padding-top: 140px;
        border: 1px solid red;
    }

    main img{
        width: 100%;
    }

    figure{
        width: 100%;
        height: calc(100% *2/3);
        padding-top: 30px;
        margin-left: 0;
    }

    figure img{
        width: 100%;
    }
}