@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Noto+Sans+TC&display=swap');

body{
    background-color: #FFFFFB;
    font-family: 'Noto Sans TC', sans-serif;
    color: #0C0C0C;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: left;
    /* animation: change_color 20s linear infinite; */
}

@keyframes change_color {
	0%, 100%{
		background-color: #FFFFFB;
	}
	50%{
		background-color: #FDD371;
	}
}

/* ---------- modular ---------- */

.wrapper{
    width: 100%;
    margin: 0 auto;
    border: 1px solid black;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
}

a{
    text-decoration: none;
}

a:hover{
    text-shadow: black 0.1em 0.1em 0.2em;
}

/* ---------- navigation bar ---------- */

nav .com{
    width: 90%;
    height: 100px;
    margin: 0 auto;
}

nav .com ul{
    display: inline-flex;
    flex-flow: row nowrap;
}

nav img{
    height: 100px;
    margin-left: 15px;
}

nav .com ul li{
    text-align: center;
    margin-right: 20px;
}

nav .com ul li:first-child{
    margin-right: 40%;
}

nav .com ul li:last-child{
    padding-top: 15px;
    margin-right: 0;
}

/* hamburger */

nav .com li:nth-child(7){
    display: none;
}

/* ---------- footer ---------- */

footer{
    background-image: url(../images/back_pic2.png);
    width: 1200px;
    height: 300px;
    margin: 0 auto;
}

.community{
    width: 290px; 
    height: 70px; 
    margin: 0 auto; 
    padding-top: 25px;
}

.community i{
    margin-left: 65px;
}

footer h1{
    width: 1100px;
    margin: 0 auto;
}

footer h2{
    width: 1100px;
    margin: 0 auto;
}

footer p{
    width: 1100px;
    margin: 0 auto;
    padding-top: 15px;
}

@media screen and (max-width:767.98px){
    .wrapper{
        width: 100%;
        margin: 0 auto;
    }

    nav{
        width: 100%;
        margin: 0 auto;
        /* overflow: hidden; */
    }

    nav ul{
        background-color: #FFFFFB;
        display: block;
        margin: 0 auto;
    }

    nav li{
        display: block; 
    }

    nav li:nth-child(7){
        display: none;
    }

    nav li:last-child{
        display: block;
    }

    nav input:checked ~ nav ul{
        max-height: 300px;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px){
    .com{
        display: none;
    }

    .ham{
        border: 1px solid red;
    }

    .ham li{
        width: 30%;
        margin: 0 auto;
        border: 1px solid blue;
    }

    .ham a{
        border: 1px solid green;
    }

    .ham_menu{
        transform: translateY(-200%);
    }

    .ham_menu.-on{
        transform: translateY(0%);
    }
}

@media (min-width: 576px) and (max-width: 767.98px){

}

@media screen and (max-width: 575.98px){

}