@import url('reset.css');
body{
    background-color: #FFFFFB;
    font-family: 'Aclonica', 'Noto Sans TC', sans-serif;
    font-size: 18px;
    line-height: 20px;
}

/* ---------- Modular ---------- */

.wrapper{
    width: 1440px;
    margin: 0 auto;
    position: relative;
}

h1{
    font-size: 32px;
    line-height: 50px;
}

h2{
    font-size: 24px;
    line-height: 30px;
}

a{
    text-decoration: none;
}

.number{
    font-family: 'Noto Sans TC', sans-serif;
}

/* ---------- navigation bar ---------- */

.navi{
    width: 1255px;
    height: 155px;
    margin: 0 auto;
    padding-top: 33px;
}

.logo{
    width: 310px;
    margin: 0 65px 0 25px;
    padding-top: 25px;
    float: left;
}

.text{
    padding-top: 75px;
    float: left;
}

.text ol{
    height: 55px;
    margin-right: 20px;
    float: left;
}

/* ---------- footer ---------- */

.footer{
    background-image: url(../images/back_pic.png);
    width: 1440px;
    height: 365px;
    margin: 50px auto 0 auto;
}

.footer h1{
    width: 1240px;
    margin: 0 auto;
    padding-top: 105px;
}

.footer h2{
    width: 1240px;
    margin: 0 auto;
}

.footer p{
    width: 1240px;
    margin: 0 auto;
    padding-top: 35px;
}

/* ---------- About US ---------- */

.back{
    background-image: url(../images/AU_back.png);
    height: 1148px;
    margin: 0 auto;
}

.video{
    display: inline-block;
    width: 540px;
    margin: 0 10%;
    float: left;
}

.content{
    width: 505px;
    margin-right: 100px;
    padding-top: 25px;
    float: right;
}

 /* ---------- All cabins ---------- */

.cabins{
    width: 1240px;
    position: absolute;
    z-index: 2;
    top: 220px;
    left: 100px;
}

.cabin1{
    width: 1070px;
    height: 500px;
    margin: 0 auto;
}

.cabin1 img{
    float: left;
}

.cabin1 p{
    width: 265px;
    margin: 100px 0 0 50px;
    float: left;
}

.cabin2{
    width: 1070px;
    height: 500px;
    margin: 0 auto;
    padding-top: 75px;
}

.cabin2 img{
    float: right;
}

.cabin2 p{
    width: 265px;
    margin: 100px 50px 0 0;
    float: right;
}

.cabin3{
    width: 1070px;
    height: 500px;
    margin: 0 auto;
    padding-top: 75px;
}

.cabin3 img{
    float: left;
}

.cabin3 p{
    width: 265px;
    margin: 100px 0 0 50px;
    float: left;
}

.back_deco{
    width: 1240px;
    height: 1725px;
    position: absolute;
    z-index: 1;
    top: 470px;
    left: 100px;
}

.dash{
    width: 1220px;
    height: 555px;
    border: 10px dashed #DCEFCD;
}

.solid{
    width: 1220px;
    height: 555px;
    border: 10px solid #DCEFCD;
    margin-top: 575px;
}

/* ---------- cabin introduction ---------- */

.detail{
    position: absolute;
    z-index: 3;
}

.cabin_detail{
    width: 315px;
    height: 455px;
    position: absolute;
    left: 100px;
    top: 10px;
}

.cabin_detail h2{
    padding-top: 20px;
}

.detail_pic{
    width: 840px;
    height: 500px;
    position: absolute;
    left: 500px;
    top: 0px;
}

.preview{
    width: 1240px;
    height: 200px;
    position: absolute;
    left: 100px;
    top: 550px;
}

/* .preview img{
    width: 295px;
    height: 200px;
    flex: auto;
    flex-grow: 1;
} */

.preview1{
    width: 295px;
    height: 200px;
    float: left;
}

.preview2{
    width: 295px;
    height: 200px;
    float: left;
    margin-left: 20px;
}

.preview3{
    width: 295px;
    height: 200px;
    float: left;
    margin-left: 20px;
}

.preview4{
    width: 295px;
    height: 200px;
    float: left;
    margin-left: 20px;
}

.change{
    width: 1440px;
    height: 750px;
    margin: 0 auto;
}

.right{
    background-color: lightcoral;
    opacity: 50%;
    width: 100px;
    height: 750px;
    position: absolute;
    z-index: 2;
}

.left{
    background-color: lightgray;
    opacity: 50%;
    width: 100px;
    height: 750px;
    position: absolute;
    z-index: 2;
    left: 1340px;
    top: 188px;
}

.cabin_back{
    background-color: #E7F3E0;
    width: 1440px;
    height: 350px;
    position: absolute;
    left: 0px;
    top: 500px;
    z-index: 1;
}

/* ---------- Booking ---------- */

.book{
    width: 1240px;
    margin: 0 auto;
    margin-top: 50px;
}

.book input{
    width: 400px;
    height: 75px;
    border-radius: 5px;
    float: left;
}

.book_btn{
    width: 235px;
    margin-left: 50px;
    float: left;
}

.book_btn button{
    width: 235px;
    height: 70px;
    margin-top: 5px;
}

.book_btn p{
    width: 235px;
    position: absolute;
    z-index: 4;
    margin-top: 50px;
}

.intro{
    width: 1440px;
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    top: 363px;
}

.room{
    width: 820px;
    padding-left: 100px;
    position: absolute;
    z-index: 3
}

.room_intro{
    width: 295px;
    float: right;
}

.room_intro h2{
    text-align: right;
}

.room_intro p{
    margin-top: 20px;
}

.message{
    background-color: #E7F3E0;
    border: 20px solid #FCFAF2;
    width: 1400px;
    height: 425px;
    position: absolute;
    z-index: 2;
    top: 225px;
}

.message p{
    width: 820px;
    margin: 75px 0 0 100px;
}

/* ---------- Location ---------- */

.traffic{
    width: 1200px;
    height: 235px;
    border: 5px solid #DCEFCD;
    margin: 35px auto 0 auto;
}

.traffic span{
    display: block;
    width: 1120px;
    margin: 0 auto;
    padding-top: 45px;
}

.map{
    width: 1240px;
    margin: 0 auto;
    padding-top: 50px;
}

/* ---------- Scenery ---------- */

.scene_pics img{
    width: 400px;
}

.scenes1{
    width: 1240px;
    height: 300px;
    margin: 0 auto;
}

.scene1{
    float: left;
}

.scene2{
    float: left;
    margin-left: 20px;
}

.scene3{
    float: left;
    margin-left: 20px;
}

.scenes2{
    width: 1240px;
    height: 300px;
    margin: 0 auto;
    margin-top: 50px;
}

.scene4{
    float: left;
}

.scene5{
    float: left;
    margin-left: 20px;
}

.scene6{
    float: left;
    margin-left: 20px;
}