@import url('reset.css');
/* 共通樣式的css, nav有兩種, 首頁跟預約頁面用一種, 其他網頁用另一種, 差有無booking button
footer也寫在這裡, 適用範圍about us 沒有 */

.nav1{
    width: 1100px;
    margin: 0 auto;
}

nav li{
    float: left;
}

nav li img{
    height: 55px;
    padding-top: 20px;
}

.text_bar1 ol{
    font-family: 'Aclonica', sans-serif;
    font-size: 25px;
    line-height: 50px;
    margin-left: 30px;
    padding-top: 85px;
    float: left;
}

.text_bar2 ol{
    font-family: 'Aclonica', sans-serif;
    font-size: 25px;
    line-height: 50px;
    margin-left: 30px;
    padding-top: 85px;
    float: left;
}

footer{

}